// Downloadable Font Link
// https://www.dafont.com/star-jedi.font

@font-face {
    font-family: 'starfill';
    src: url('../fonts/Starjedi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'starhollow';
    src: url('../fonts/Starjhol.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}