@use '../abstracts';

.fetch-con {
    background-color: abstracts.$secondary-color;
    border: 3px solid abstracts.$tertiary-color;
    border-radius: 1em;
    padding: 10vh;
    margin-bottom: 20vh;
    
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    ul li {
        flex: 0 0 calc(50% - 0.5rem)
    }

    a {
        color: abstracts.$accent-color;
        cursor: pointer;
    }

    a:hover, a:active {
        color: abstracts.$primary-color;
        transition: 0.3s ease;
    }
}

.character-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: block;
    border: 3px solid abstracts.$accent-color;
    border-radius: 1rem;
    background-image: url(../../images/assets/stars-bg.jpg);
    background-size: cover;
}

.character-img:hover {
    transform: scale(90%);
    filter: grayscale(80%);
    transition: 0.3s ease;
}

@media screen and (min-width: 768px) {

    .fetch-con {
    
        ul li {
            flex: 0 0 calc(20% - 1rem);
        }
    }
}

#movie-box {
    background-color: black;
    margin: 20% 0;
    border: 3px solid abstracts.$accent-color;
    border-radius: 1rem;
}

#crawl-box {
    font-family: sans-serif;
    margin: 20% 0;
        
        h3 {
            text-align: center;
            font-size: 2rem;
        }
        
        h3, p {
            padding: 5vh 10vw;
        }

        a {
            color: abstracts.$body-text-color;
        }

}