@use '../abstracts';

.hidden {
    display: none;
}

body {
    background-color: abstracts.$secondary-color;
    font-family: 'starfill', sans-serif;

    background-image: url(../../images/assets/stars-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
}

.logo {
    display: inline-block;
    max-width: 25vw;
    width: 200px;

    svg {
        width: 100%;
        height: auto;
        display: block;
    }

    svg:hover {
        transform: scale(110%);
        transition: 0.3s ease;
    }

    svg:active {
        transform: scale(90%);
        transition: 0.3s ease;
    }
}

main {
    padding-top: 20vh;
}